@font-face {
    font-family: inter;
    font-style: normal;
    font-display: swap;
    src: url(fonts/Inter.ttf);
}

body {
    margin: auto;
    color: #112D4E;
    padding: 0.5rem;
    background-color: #F9F7F7;
}

@media (min-width: 450px) {
    body {
        padding: 0.75rem;
    }
}

@media (min-width: 750px) {
    body {
        padding: 1rem;
        max-width: 800px;
    }
}

main { 
    hyphens: manual;
    line-height: 1.3em;
}

main h2 {
    color: #3F72AF;
}

pre, mjx-container {
    padding: 0.3em;
    overflow-x: auto;
}

.flex-row {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
}

.flex-row a {
    color: inherit;
    text-underline-offset: 0.2em;
    text-decoration-style: dashed;
}

.site-title {
    font-size: 2.5em;
    text-align: center;
}

.site-header-nav {
    align-items: center;
    justify-content: space-between;
}

.site-header-nav > li {
    font-size: 1.25em;
    text-align: center;
}

.site-footer-nav {
    align-items: center;
    justify-content: flex-end;
}

.site-footer-nav > li {
    margin: 0.25em;
    text-align: center;
}

.index-content a {
    color: inherit;
    text-decoration-style: dashed;
}

.single-header {
    align-items: flex-end;
    justify-content: space-between;
}

.single-date {
    min-width: 5em;
}

.list-items {
    margin: 0.5em;
    column-gap: 1em;
    align-items: flex-start;
    justify-content: flex-start;
}
